.login-popup{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;  
  background-color: #00000090;
  display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #646262;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    gap: 25px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title img{
   height: 15px;
   width: 15px;
   cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
    font-style: italic;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: tomato;    
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{ 
    margin-top: 5px;
}
.login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}
.login-popup p span:hover{
    text-decoration: underline;
    font-style: italic;
}